# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env2/

# Logs
*.log

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Development and IDE files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment variables file
.env
